<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "=//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  
  <!-- Dialeto e Driver para MySQL -->
   <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  
  
  <!-- Detalhes do Banco de Dados-->
  <property name="connection.username">root</property>
  <property name="connection.password">root</property>
  <property name="connection.url">jdbc:mysql://localhost:3306/editTheVideo</property>
  <property name="connection.pool_size">1</property>
  <property name="hibernate.default_schema">editthevideo</property>
  <property name="hibernate.current_session_context_class">thread</property>
  
  <!-- Propriedades Adicionais -->
  <property name="show_sql">true</property>
  <property name="hbm2ddl.auto">validate</property>
  
  <!-- Mapeamento das Classes -->
  <mapping class="startup.model.Empresa"/>
  <mapping class="startup.model.Endereco"/>
  <mapping class="startup.model.Genero"/>
  <mapping class="startup.model.Profissional"/>
  <mapping class="startup.model.Usuario"/>
  <mapping class="startup.model.Video"/>
  
 </session-factory>
</hibernate-configuration>
